# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# Rider / JetBrains
.idea/
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.sln
*.tmp

# OS
.DS_Store
Thumbs.db
